*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: radial-gradient( circle 897px at 9% 80.3%,  rgba(55,60,245,1) 0%, rgba(234,161,15,0.90) 100.2% );
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 700px;
    border-radius: 4px;
    border: 5px solid #ffffff;
    background-color: #363062;
}


.etapas-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.8rem;
    position: relative;
    padding: 0 30px;
    z-index: 10;
}

.etapa    {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.etapa i {
    background-color: #8b8b8b;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    margin-bottom: .6rem;
    color: #F5F5F5;
    text-align: center;
}

.etapa .active {
    background-color: #F99417;
}

.descricao {
    font-size: 16px;
    color: #F5F5F5;
    font-weight: 300;
}

.line {
    border-bottom: 2px solid #ffffff;
    position: absolute;
    width: 80%;
    top: 22.5px;
    z-index: -1;
    left: 10%;
}

.title {
    margin-top: 2rem;
    padding: 0 30px;
    color: #fff;
    position: relative;
}

.title::after {
    content: "";
    border-bottom: 3px solid #F99417;
    left: 30px;
    width: 120px;
    height: 3px;
    position: absolute;
}

.form-container {
    margin: 2.5rem 0;
    padding: 0 30px;
}


.form-container input {
    padding: 10px 20px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #363062;
    color: #fff;
    
}

.form-container input:focus {
    outline: none;
    border: 1px solid #F99417;
}

.form-container input::placeholder {
    font-size: 14px;
    color: #F99417;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    appearance: none;
}


.form {
    margin: 1.5rem 0;
    display: flex;
    gap: 20px;
}

.form-card input {
    width: 309px;
}

.span-required {
    display: none;
    color: rgb(219, 46, 46);
    margin-top: .5rem;
    font-size: 13px;
}

#btn {
    padding: 0 30px;
    float: right;
    margin-bottom: 1rem;
}

.btn {
    padding: 10px 25px;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    background-color: #F99417;
    font-size: 15px;
    font-weight: 600;
    transition: color 0.4s;
}

.btn:hover {
    color: #1f1e1e;
    cursor: pointer;

}

@media (min-width: 320px) and (max-width: 380px) {
    .container {
        width: 400px;
        padding: 0 30px;
    }

    .form {
        display: flex;
        flex-direction: column;
    }

    .form-card input {
        width: 250px;
    }

    .line {
        border-bottom: 2px solid #ffffff;
        position: absolute;
        width: 65%;
        top: 18.5px;
        z-index: -1;
        left: 20%;
    }

    .title h1 {
        font-size: 18px;
    }

    #btn {
        text-align: center;
        float: none;
    }

    .btn {
        width: 250px;
    }

    .descricao {
        font-size: 11px;
    }

    .etapa i {
        background-color: #8b8b8b;
        width: 35px;
        height: 35px;
        line-height: 35px;
        border-radius: 50%;
        margin-bottom: .6rem;
        color: #F5F5F5;
        text-align: center;
        font-size: 14px;
    }

    .title::after {
        content: "";
        border-bottom: 3px solid #F99417;
        left: 30px;
        width: 67px;
        height: 3px;
        position: absolute;
    }

    .form-container input {
        width: 100%;
    }
}



@media (min-width: 381px) and (max-width: 425px)  {

    .container {
        width: 500px;
        overflow: hidden;
    }

    .form {
        display: flex;
        flex-direction: column;
    }

    .line {
        border-bottom: 2px solid #ffffff;
        position: absolute;
        width: 65%;
        top: 22.5px;
        z-index: -1;
        left: 20%;
    }

    .title h1 {
        font-size: 20px;
    }

    .descricao {
        font-size: 13px;
    }

    .title::after {
        content: "";
        border-bottom: 3px solid #F99417;
        left: 30px;
        width: 75px;
        height: 3px;
        position: absolute;
    }

    #btn {
        text-align: center;
        float: none;
    }

    .btn {
        width: 310px;
    }

    .form-container input {
        width: 100%;
    }
}

@media (min-width: 426px) and (max-width: 767px)   {
    .container {
        width: 400px;
        overflow: hidden;
    }
    
    .form {
        display: flex;
        flex-direction: column;
    }

    .line {
        border-bottom: 2px solid #ffffff;
        position: absolute;
        width: 65%;
        top: 22.5px;
        z-index: -1;
        left: 20%;
    }

    .title h1 {
        font-size: 20px;
    }

    .descricao {
        font-size: 13px;
    }

    .title::after {
        content: "";
        border-bottom: 3px solid #F99417;
        left: 30px;
        width: 75px;
        height: 3px;
        position: absolute;
    }

    #btn {
        text-align: center;
        float: none;
    }

    .btn {
        width: 310px;
    }

    .form-container input {
        width: 100%;
    }


}











